body, html {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
    font-size: 16px;
    font-family: helvetica, arial;
    color: var(--tg-theme-text-color);
    background: var(--tg-theme-bg-color);
}

.wrapper {
    width: 100%;
    height: 100%;
    display: table;
}

.main {
    display: table-cell;
    vertical-align: middle;
}

.main__content {
    text-align: center;
}

.photo {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    height: 65vh;
    width: 100vw;
}

.image {
    display: block;
    margin: 5% auto;
    border: 5px dashed #ddd;
    background: #fff;
    border-radius: 10%;
    height: 90%;
    width: 90%;
    object-fit: contain;
    max-width: 100%;
}

.canvas {
    display: block;
    max-width: 90%;
    max-height: 600px;
    position: absolute;
    border: 0;
    border-radius: 15px;
    cursor: move;
}

.input {
    display: inline-block;
    vertical-align: middle;
    margin: 5px;
}

.button {
    display: inline-block;
    vertical-align: middle;
    margin: 5px;
    background: #6694f6;
    border: 0;
    border-radius: 15px;
    padding: 10px 25px;
    color: #fff;
    cursor: pointer;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    font-size: 16px;
}

.button:hover {
    background: #8acef1;
}

.button_disabled {
    background: #555;
    cursor: not-allowed;
}

.a, .a:visited {
    color: #6694f6;
}

.a:hover {
    text-decoration: none;
}

.a_hidden {
    opacity: 0;
}

.cropper-drag-box {
    opacity: 1 !important;
    background-color: #00000080 !important;
}

.btnWrapper {
    height: 5vh;
}

.btnWrapper button {
    height: 100%;
    width: auto;
    aspect-ratio: 1/1;
}

.sendButton button {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 5%;
    width: 20%;
    font-size: 2vw;
    font-weight: bold;
    position: fixed;
    right: 2%;
    bottom: 2%;
}

.locations-wrapper {
    height: 20vh;
    overflow-y: scroll;
}

.location {
    width: 80%;
    height: 5vh;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border-radius: 7.5%;
    background-color: #f2f2f2;
    margin-top: 0.5vh;
}

.name-in-list{
    margin-left:5vw;
    font-size: 3vh;
    overflow-y: scroll;
    max-width: 60vw;
}

.cross-container{
    height: 3vh;
    width: auto;
    aspect-ratio: 1/1;
    margin-right:2vw;
}

.cross-container img{
    display:flex;
    align-items: center;
    align-content: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    object-fit: contain;
}


.current-name {
    height: 5vh;
    margin-bottom: 1.5vh;
}

.current-name input {
    height: 100%;
    width: 80%;
    font-size: 2.4vh;
    border-radius: 5%;
    text-align: center;
    border: 3px solid #ccc;
    font-weight: 400;
}

.current-name label {
    font-size: 2.3vh;
    font-weight: bold;
}

input[type=text]:focus {
    border: 3px solid #555;
}

.plus-container {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #4070f4;
    border-radius: 5%;
    position: absolute;
    top: 75vh;
    right: 3vw;
    height: 5vh;
    width: auto;
    aspect-ratio: 1/1;
    object-fit: cover;
}

.saveButton button{
    width: 10%;
    height: 5%;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    right: 2%;
    bottom:10%;
}

.plus {
    height: 100%;
    width: 100%;
    flex: 0 0 auto;
    margin: auto;
}






